/* styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Thème Horror */

:root.horror {
  --bg-color: #260101;
  --text-color: #0D0B0C;
}

/* Thème Action */

:root.action {
  --bg-color: #2e0753;
  --text-color: #1525D6;
}

/* Thème Aventure */

:root.aventure {
  --bg-color: #736436;
  --text-color: #D9B79A;
}


/* Thème Online */

:root.online {
  --bg-color: #403E8C;
  --text-color: #85D3F2;
}


/* Thème Sport */

:root.sport {
  --bg-color: #1A1E26;
  --text-color: #3D4F73;
}


/* Thème Strategie */

:root.strategie {
  --bg-color: #401D15;
  --text-color: #F2C48D;
}

/* Thème Light */

:root.light {
  --bg-color: #1b1f47;
  --text-color: #fff;
}



body, html {
  background-color: var(--bg-color);
  color: var(--text-color);
}