/* styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Thème Horror */

:root.horror {
  --bg-color: #600f0f;
  --text-color: #fff;
}

/* Thème Action */

:root.action {
  --bg-color: #0A0A0A;
  --text-color: #fff;
}

/* Thème Aventure */

:root.aventure {
  --bg-color: #838C3F;
  --text-color: #fff;
}


/* Thème Online */

:root.online {
  --bg-color: #403E8C;
  --text-color: #fff;
}


/* Thème Sport */

:root.sport {
  --bg-color: #3D4F73;
  --text-color: #fff;
}


/* Thème Strategie */

:root.strategie {
  --bg-color: #260F01;
  --text-color: #fff;
}

/* Thème Light */

:root.light {
  --bg-color: #1b1f47;
  --text-color: #fff;
}



body, html {
  background-color: var(--bg-color);
  color: var(--text-color);
}